@import 'helpers/sass-flexbox.scss';
@import 'helpers/mixins.scss';
@import 'helpers/_media-queries.scss';
//--------------------BODY--------------------
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

.main-background {
    background-color: #f6f6f6;
}

.login-background {
    background-color: #dddddd;
}

hr {
    width: 100%;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.bg {
    background-color: #dddddd;
    padding-bottom: 50px;
}

.pointer {
    cursor: pointer;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.margin-0-auto {
    margin: 0px auto;
}

.margin-20-auto {
    margin: 20px auto;
}

.p-sides-50 {
    padding: 0 50px;
}

.m-sides-8 {
    margin: 0 8px;
}

.alignBase {
    align-items: baseline!important;
}

.container {
    min-height: 85vh;
}


/*event filter drop down fixed for media queries*/

.cd-active {
    z-index: 2000;
}

//--------------------LOGIN--------------------
#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
}

#indexContent {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    border: 1px #2c2c2c solid;
    background-color: #f6f6f6;
}


/*
#btnChange {
  text-align: center;
  padding-bottom: 40px;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}*/

#headline {
    text-align: center;
    font-size: 25px;
    color: #444;
}

#loginDiv {
    width: 200px;
    margin: auto;
    text-align: center;
}

#createDiv {
    //display: flex;
    width: 200px;
    margin: auto;
}

.infoLabel {
    margin: 0;
    margin-left: 5px;
    color: #444;
    padding-bottom: 10px;
    //text-shadow: 1px 1px black;
}

//--------------------ADMIN NAV--------------------
#adminNav {
    height: 50px;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#adminNav a {
    text-decoration: none;
}

#adminNavHeading {
    color: #ffffff;
    text-shadow: #444 1px 1px 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

//--------------------CREATE ACCOUNT--------------------
#formCreateAccount {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin: 50px auto;
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 5px;
    color: #444;
}

.imgEmployee {
    background: url(images/Employee.jpg);
    background-size: cover;
    background-position: center;
}

#checkInfo {
    font-size: 0.8em;
}

//--------------------ADD PARTNER--------------------
#formAddAccount {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin: 50px auto;
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 5px;
    color: #444;
}

.imgPartner {
    background: url(images/Business.jpeg);
    background-size: cover;
    background-position: center;
}

//--------------------HEADER--------------------

/* Add a black background color to the top navigation */

.topnavContainer {
    //display: flex;
    align-items: center;
    background-color: #263238;
    overflow: hidden;
    justify-content: space-between;
}

.topnavInnerContainer {
    max-width: 1200px;
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #263238;
    overflow: hidden;
    justify-content: space-between;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#navLogo {
    padding: 6px 16px 6px 0px!important;
}

#navLogo img {
    transition: all 1s;
    -webkit-transition-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-timing-function: ease-in-out;
}

#navLogo:hover {
    background-color: transparent;
    color: black;
}

#navLogo:hover img {
    filter: hue-rotate(150deg);
    transition: all 1s;
    -webkit-transition-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-timing-function: ease-in-out;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

//--------------------INDEX--------------------
.testDivContainer {
    padding: 20px;
}

span {
    display: block;
}

.testDivInnerContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 150px;
}

.testDivContainer:nth-child(2n) {
    background-color: #dddddd;
}

.testDivContainer:nth-child(2n) h1 {
    color: #444;
    font-size: 25px;
}

.testDiv {
    height: 200px;
    width: 300px;
    //background-color: red;
    border-radius: 5px;
    //margin: 6px;
    margin: 2%;
}

.eventDiv {
    margin: 2%;
}

.eventImg {
    height: 200px;
    width: 300px;
    background-color: red;
    border-radius: 5px 5px 0 0;
}

.testDivContainer h1 {
    text-align: center;
    color: #444;
    font-size: 25px;
}

#imgVesterbro {
    background: url(images/Vesterbro.jpg);
    background-size: cover;
    background-position: center;
}

#imgNorrebro {
    background: url(images/Norrebro.jpg);
    background-size: cover;
    background-position: center;
}

#imgOsterbro {
    background: url(images/Osterbro.jpg);
    background-size: cover;
    background-position: center;
}

#imgBackend {
    background: url(images/Backend.jpg);
    background-size: cover;
    background-position: center;
}

#imgFrontend {
    background: url(images/Frontend.jpg);
    background-size: cover;
    background-position: center;
}

#imgOs {
    background: url(images/Os.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

#imgDatabase {
    background: url(images/Database.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.eventPreviewDetails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    font-weight: 600;
    width: 300px;
    border-radius: 0 0 5px 5px;
}

.eventPreviewDetails a {
    line-height: 2;
    color: #444;
    font-size: 15px;
    text-decoration: none;
}

.eventPreviewDetailsColumnL a {
    color: #00527D;
}

.eventPreviewDetails>a {
    margin-top: 20px;
    padding: 5px;
    background-color: #00527D;
    width: 100%;
    color: white;
    //border-radius: 5px;
    line-height: 1.4;
    text-align: center;
    //margin: 6px;
}

.eventPreviewDetails>a:hover {
    background-color: #455A64;
}

.eventPreviewDetails>a:active {
    margin-top: 2px;
    margin-bottom: 13px;
}

.eventPreviewDetailsColumnL {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 46%;
    padding: 4px;
}


/*.eventPreviewDetailsColumnL a:last-child {
    font-weight: 600;
}*/

.eventPreviewDetailsColumnR {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: #f6f6f6;
    width: 46%;
    padding: 4px;
}


/*--------------------ABOUT---FAQ-------------------*/

#aboutImage {
    background: url(images/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-bottom: 4px;
}

.text-welcome {
    font-size: 20px;
    text-align: center;
    max-width: 900px;
    padding-top: 230px;
    color: #FAFAFA;
    font-style: italic;
}

.midde-text {
    font-size: 30px;
    text-align: center;
    max-width: 900px;
    padding-top: 10px;
    color: #FAFAFA;
}

.text-about-title {
    font-size: 25px;
    color: #444;
    text-align: center;
    max-width: 1000px;
    padding-top: 60px;
}

.text-about {
    font-size: 15px;
    text-align: center;
    max-width: 1000px;
    padding-top: 25px;
    padding-bottom: 80px;
    color: #444;
}

button.accordion {
    background-color: #00527D;
    color: #ddd;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    margin-bottom: 5px;
}

button.accordion.active,
button.accordion:hover {
    background-color: #455A64;
}

button.accordion:after {
    content: '\002B';
    color: #FFC107;
    font-weight: bold;
    float: right;
}

button.accordion.active:after {
    content: "\2212";
}

.panel {
    background-color: #f6f6f6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease-out;
    p {
        text-align: center;
        max-width: 1000px;
        margin: 30px auto;
        font-size: 15px;
        color: #444;
    }
}

#offerblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.offerIcons {
    width: 20%;
    align-items: center;
    margin: 2%;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    min-width: 200px;
}

.offerIcons:hover {
    border: 1px solid #777;
}

.offerImage {
    width: 100%;
    height: 150px;
}

.offerText {
    text-align: justify;
    font-size: 15px;
    color: #444;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.button {
    line-height: 50px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color: #00527D;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.button span {
    position: absolute;
    left: 0;
    width: 50px;
    background-color: #263238;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
}

.button:hover span,
.button.active span {
    //background-color: rgb(0, 102, 26);
    background-color: #455A64;
    color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.button:active {
    margin-top: 2px;
    margin-bottom: 13px;
}

.symbol {
    font-size: 20px;
    color: #FFC107;
}

#mapblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-top: 50px;
        font-size: 25px;
        color: #444;
    }
}

#map-bg {
    background-color: #dddddd;
}

#map {
    width: 90vw;
    overflow: auto;
    margin: 0px auto;
    max-width: 1200px;
    padding-bottom: 50px;
}

#map h1 {
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 25px;
    color: #444;
    text-align: center;
}

#map iframe {
    width: 100%;
}

.faq-button {
    text-align: left;
}

.answer {
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    p {
        text-align: left;
        font-size: 15px;
        max-width: 1200px !important;
    }
}

#faqImage {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(images/faqq.jpg);
    filter: hue-rotate(230deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 57%;
    height: 300px;
    margin-bottom: 4px;
}

#faq-center {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    flex-flow: column;
    max-width: 1200px;
    h2 {
        font-size: 25px;
        color: #444;
        text-align: left;
    }
}

#myInput {
    background-image: url('images/search1.png');
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

.page-button {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    button {
        padding-right: 10px;
    }
}

//--------------------PARTNERS--------------------
#partnerContactDiv {
    text-align: center;
    background-color: #DFE2DB;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f6f6f6;
    padding-bottom: 40px;
}

#partnerContactDiv h1 {
    width: 100%;
    margin-bottom: 80px;
    font-size: 25px;
    color: #444;
    padding-top: 50px;
}

#contactBtn {
    margin: 30px;
    cursor: pointer;
}

//--------------------SHOW PARTNERS--------------------
.partnerContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 150px;
    flex-direction: column;
    text-align: center;
    //margin-bottom: 20px;
}

#partnerPDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    //padding-bottom: 30px;
}

#partnerPDiv h1 {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #444;
    font-size: 25px;
    background-color: #f6f6f6;
}

#partnerDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
}

#partnerDiv h1 {
    //padding-top: 50px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #444;
    font-size: 25px;
    text-align: center;
    background-color: #f6f6f6;
}

.partnerDivInnerContainer {
    //padding: 20px;
}

.partnerDivInnerContainer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 150px;
    //margin: auto;
}

.partnerDivInnerContainer>div:first-child {
    background: #ddd;
}

.partnerIconP {
    height: 50px;
    width: 150px;
    //margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    button {
        height: 30px;
        width: 40px;
        align-self: flex-end;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.partnerIcon {
    height: 100px;
    width: 100px;
    //margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    button {
        height: 30px;
        width: 40px;
        align-self: flex-end;
        margin-right: 10px;
    }
}

#partnerDanskebank {
    background: url(images/Danskebank.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerElgiganten {
    background: url(images/Elgiganten.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerNovo {
    background: url(images/novo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerRadio {
    background: url(images/radio.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerRadis {
    background: url(images/radis.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerMicro {
    background: url(images/micro.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerOti {
    background: url(images/oti.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerGra {
    background: url(images/gra.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerKk {
    background: url(images/Kk.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerLogitech {
    background: url(images/Logitech.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerMicrosoft {
    background: url(images/Microsoft.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerTru {
    background: url(images/tru.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerBP {
    background: url(images/BP.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerSe {
    background: url(images/se.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

#partnerPi {
    background: url(images/pin.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    //background-color: white;
}

//--------------------PARTNERS--------------------
#questionsDiv {
    text-align: center;
    padding: 20px;
}

.questionsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.questionsDiv h4 {
    width: 100%;
}

.questionsDiv h3 {
    border: 2px solid #444;
    border-radius: 50px;
    padding: 10px;
    /* color: white; */
    background-color: #dddddd;
}

//--------------------SINGLE EVENT--------------------
#singleEventDiv {
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 1px #ddd;
    padding: 20px;
}

.eventDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    flex-grow: 1;
}

.eventDetails a {
    margin: 6px;
    font-size: 1.2em;
}

#imgFBshare {
    background: url(images/ShareonFacebook.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
    padding: 14px;
}

#imgTwittershare {
    background: url(images/ShareonTwitter.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
    padding: 14px;
}

#imgMessenger {
    background: url(images/Messenger.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
}

#imgLinkedin {
    background: url(images/LinkedIn.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
}

#imgEmail {
    background: url(images/Email.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
}

#imgTravelMode {
    background: url(images/mapTravelMode.jpg);
    background-size: 250px;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 70px;
    margin: auto;
}

#eventShareDiv {
    display: flex;
    width: 100%;
    background-color: #ddd;
    border: white solid 1px;
    border-radius: 5px;
}

#eventDivLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#eventDivRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

#eventDivRight div:last-child {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border: white solid 1px;
    border-radius: 5px;
}

#singleEventDetailsContainer {
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#singleEventDetailsContainerL {
    width: 60%;
}

#singleEventDetailsContainer>div:last-child {
    width: 25%;
}

#singleEventDetailsContainer div p:first-child {
    font-weight: 600;
}

#singleEventDetailsContainer ul {
    list-style: none;
    padding: 0;
}

#singleEventDetailsContainerR>div:first-child {
    margin: 16px;
    text-align: center;
}

#singleEventDetailsContainerR>div:last-child p:first-child {
    margin-bottom: 8px;
}

#singleEventDetailsContainerR>div:last-child p {
    margin: 2px;
}

//--------------------CREATE EVENT--------------------
.imgEvent {
    background: url(images/Event.jpg);
    background-size: cover;
    background-position: center;
}

#formCreateEvent {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: flex-start;
    margin: 50px 0;
    padding: 50px;
    background-color: #f6f6f6;
    color: #444;
}

#formCreateEvent2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: flex-start;
    margin: 50px 0;
    padding: 50px;
    background-color: #f6f6f6;
    color: #444;
}

select {
    margin: 12px 0;
}

//--------------------FOOTER--------------------
footer {
    display: flex!important;
    justify-content: center;
    align-items: center;
    background-color: #263238;
    padding: 14px;
    font-size: 0.9em;
    color: #f2f2f2;
    //margin-top: 40px;
}

footer p {
    margin: 0!important;
}

.btn {
    display: inline-block;
    //font-weight: 400;
    line-height: 1.25;
    text-align: center;
    //white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #00527D;
    border-color: #00527D;
}

.btn-primary:hover {
    color: #fff;
    background-color: #455A64;
    border-color: #455A64;
}

//--------------------MEDIA Q--------------------

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

//@media screen and (max-width: 600px) {
@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    #eventDivLeft {
        width: 100%;
    }
    #eventDivRight {
        width: 100%;
    }
    #createEventContainer form {
        margin: 0;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

//@media screen and (max-width: 600px) {
@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
        width: 128px;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/*******************EVENTS**********************/

#filter h1 {
    margin-top: 0px;
    padding-top: 50px;
    font-size: 25px;
    color: #444;
    text-align: center;
}

#filterbuttons {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
}


/*******************DROP DOWN BUTTONS**********************/

.cd-dropdown,
.cd-select {
    position: relative;
    width: 200px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    margin: 3%;
}

.cd-dropdown>span {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #444;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    background: #fff;
    display: block;
    //padding: 0 50px 0 30px;
    position: relative;
    cursor: pointer;
}

.cd-dropdown>span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 70%;
    line-height: 24px;
    border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active>span:after {
    content: '\25B2';
}

.cd-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.cd-dropdown ul li {
    display: block;
}

.cd-dropdown ul li span {
    width: 100%;
    text-align: center;
    background: #fff;
    line-height: 60px;
    //padding: 0 30px 0 75px;
    display: block;
    color: #444;
    cursor: pointer;
    font-weight: 500;
}

.cd-dropdown>span,
.cd-dropdown ul li span {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cd-dropdown>span span[class^="icon-"],
.cd-dropdown>span span[class*=" icon-"] {
    padding: 0 30px 0 45px;
}


/* Select fallback styling */

.cd-dropdown {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.cd-dropdown>span {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s;
}

.cd-dropdown>span:active {
    -webkit-transform: rotateX(60deg);
    -moz-transform: rotateX(60deg);
    -o-transform: rotateX(60deg);
    -ms-transform: rotateX(60deg);
    transform: rotateX(60deg);
}

.cd-dropdown>span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100%;
}

.cd-active.cd-dropdown>span {
    color: #FFC107;
}

.cd-active.cd-dropdown>span,
.cd-active.cd-dropdown ul li span {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cd-active.cd-dropdown ul li span {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
    background: #FFC107;
    color: #fff;
}
